.main{
    width:900px ; 
    border:1px solid white;
    margin:0 auto;
    background-color:#E65075;
}
.top{
    height:130px; 
    background-color:#C51624; 
    border:1px solid white;
    margin-bottom:0px;
}
.header{
    margin-left:20px; 
    margin-top:20px; 
    font-family:pristina; 
    width:200px;  
    clear:both;
    float:left; 
    height:110px; 
    font-size:2em; 
    margin-bottom:0px; }
.login{
    width:300px; 
    margin-bottom:0px; 
    margin-right:10px; 
    margin-left:565px;
    margin-top:30px; 
    border:1px solid #B20B1F;
    height:60px;
    background-color:#d5314b;
    padding:5px; 
    color:white;
}
.main1{  
    width:250px; 
    height:1000px;  
    padding:0px;  
    float :left; 
    clear:left; 
    background-color:#E65075;
}
.main2{ 
    border:1px solid #ffffff; 
    width:620px; 
    height:1000px; 
    margin-left:270px; 
    margin-right:9px; 
    padding:0px ; 
    margin-bottom:10px;  
    margin-top:0px; 
    background-color:#ffffff;
}
.middle{ 
    border:1px solid #ffffff; 
    width:250px;
    height:175px; 
    margin-left:5px; 
    margin-right:9px;
    margin-bottom:10px; 
    float:right;  
    margin-top:10px; 
    background-color:#dfe3ee; 
}
.bottom{border:3px solid #ffffff; 
    margin-top:10px;
    clear:left; 
    height:310px;
    margin-left:10px; 
    margin-right:9px; 
    margin-bottom:9px;
    width:245px;  
    background-color:#dfe3ee;
}
nav{
    left:0px;
    display:block;
    clear:right; 
    padding:0px;
}
.right1{
    height:310px;
    width:245px; 
    clear:right; 
    border:3px solid #ffffff; 
    margin-top:10px;
    margin-left:10px; 
    margin-right:9px; 
    margin-bottom:9px;
}
#ul1{
    border-left:1px solid #ffffff; 
    background-color:#d5314b; 
    padding:7px; 
    margin-top:0px;
    margin-left:0px;
}
#li1{
    width:119px;
    display:inline-block;
    color:#f7f7f7;
    font-size:1.1em;
    border-right:1px solid #ffffff;
    text-align:center;
    font-family:Consolas;
    padding:0px;
}
footer{
    border:2px solid #ffffff; 
    text-align:center; 
    font-size:10px; 
    background-color:#d5314b; 
    color:white;
    height=50px;
    margin:10px 10px 10px 10px; 
    clear:both;
}
h1{
    border:1px solid #C51624; 
    font-family:Consolas; 
    font-size:1.1em; 
    margin:10px 10px 10px 10px; 
    color:black;
    background-color:#d5314b; 
    padding:5px; 
    font-weight:normal;
    background:radial-gradient( #ffffff, #d5314b);
}
#img1{ 
    border:3px solid #E65075; 
    margin-left:5px; 
    margin-right:0px;
}
.i{
    margin:0px 10px 10px 10px;
}
.side{
    margin:10px 0px 10px 10px;
    border:2px solid #E65075; 
    background-color:white; 
    font-family:Consolas; 
    color:black;
}
.side1{
    margin:10px 10px 10px 10px; 
    background-color:white; 
    font-family:Pristina; 
    color:black;
    padding:0px;
    float:left;
}
.side2{
    margin:10px 10px 10px 10px;
    background-color:white; 
    font-family:Pristina; 
    color:black; 
    padding:10px;
}

a:link {
    color:white; 
    background-color:transparent; 
    text-decoration:none;  
}
a:visited  {
    color:white; 
    background-color:transparent; 
    text-decoration:none;
}
a:hover {
    color:black; 
    background-color:transparent; 
    text-decoration:underline;
}
a:active {
    color:red; 
    background-color:transparent; 
    text-decoration:underline;
}